.text {
  color: rgb(0, 0, 0) !important;
}

.text .ant-message-notice-content {
  background-color: rgb(255, 255, 255) !important;
}

.delete svg {
  color: rgb(211, 14, 14);
}


/* .ant-modal-content {
  background-color: rgb(69, 69, 69) !important;
} */


.modalStyle .ant-modal-content{
  background-color: #696969;
}